<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>HTML Page</title>
  <link rel="stylesheet" href="./css/indx.css">
 </head>
 
 <body>
 
  <h1>Train Travel Reservation Ticket</h1>
  <h3>Fill the form:</h3>
  Name:<input type="text" value=""><br><br>
  Number of seats:<input type="number" value=""><br><br>
  Address:<input type="text" value=""><br><br>
  Mobile No:<input type="number" value=""><br><br>
  From:<input type="text" value=""><br><br>
   To:<input type="text" value=""><br><br>
   <button type="submit">Submit</button>
  
 </body>
</html>