<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>HTML Page</title>
  <link rel="stylesheet" href="./css/indx.css">
 </head>
 
 <body>
 
  <h1>Welcome to Train Travel Reservation</h1>
  
  {{>main}}
  
  
 </body>
</html>