<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>HTML Page</title>
  <link rel="stylesheet" href="./css/indx.css">
  
  <script src='./js/javascript.js' ></script>
 </head>
 <body>
  <h1>Status of Reservation</h1>
  <h4>Name: Dhananjay Yadav</h4>
  <h4>Seat Number:35Upper </h4>
  <h4>Address:Low-gate, Punjab </h4>
  <h4>Mobile:9646972147</h4>
  <h4>From*:Jalandhar Cantt </h4>
  <h4>To*:Ghorakhapur Jn.</h4>
  </body>
</html>